* {
  font-family: "Montserrat", serif;
}

/* HEADER */

header {
  display: flex;
  align-items: center;
}

#logo {
  font-weight: 600;
  font-size: 1.2rem;
  border: 1px solid black;
  display: inline;
  padding: 5px;
}

ul {
  display: flex;
  list-style: none;
  padding-left: 0;
}

li {
  margin-left: 3rem;
}

a {
  color: black;
}

/* MAIN */

.me-img {
  width: 30%;
}

/* CATEGORY SECTION */

.category-container {
  display: grid;
  grid-template-areas:
    "img img img"
    "img img img";
}

figure {
  margin-left: 0%;
  grid-area: img;
}

.category-image {
  width: 100%;
}

/* FOOTER */

footer {
  margin-top: 1rem;
  border-top: 1px solid black;
}
