* {
  font-family: "Montserrat", serif;
}

/* HEADER */

header {
  display: flex;
  align-items: center;
}

#logo {
  font-weight: 600;
  font-size: 1.2rem;
  border: 1px solid black;
  display: inline;
  padding: 5px;
}

ul {
  display: flex;
  list-style: none;
  padding-left: 0;
}

li {
  margin-left: 6rem;
}

a {
  color: black;
}

@media screen and (max-width: 750px) {
  header,
  ul {
    flex-direction: column;
    align-items: start;
  }

  ul {
    margin-top: 0;
  }

  li {
    margin-left: 0;
    margin-bottom: 1rem;
  }
}
/* MAIN */

.me-img {
  width: 30%;
}

/* CATEGORY SECTION */

figure {
  margin-left: 0%;
}

.category-image {
  width: 100%;
}

@media screen and (min-width: 750px) {
  .category-container {
    display: grid;
    grid-template-columns: repeat(2, 2fr);
  }
}

@media screen and (min-width: 1000px) {
  .category-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}

/* FOOTER */

footer {
  margin-top: 1rem;
  border-top: 1px solid black;
}
